// size
$margin-mini: 10px;
$header-height: 60px !default;
$aside-width: 168px !default;
// color
$background: #e3eaf6 !default;
$white: #ffffff !default;
$light-blue: #1c90fe !default;
$dark-blue: #0052c2 !default;
